* {
  font-family: "Dancing Script", cursive !important;
}

ion-content {
  --padding-top: 100px;
}

@media (max-width: 1180px) {
  ion-content {
    --padding-top: 44px;
  }
}

ion-card-title {
  color: var(--ion-color-fairytale);
}

.title {
  ion-title {
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.1px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
}

ion-list {
  background: var(--ion-color-transparent) !important;
}

ion-item {
  --background: transparent;
}

.breadcrumb-container {
  max-width: 1650px;
  margin: 10px auto;
  padding: 10px;

  ion-breadcrumb {
    --color: var(--ion-color-medium);
    --color-active: var(--ion-color-fairytaledark);
    --color-hover: var(--ion-color-fairytaledark);
    text-transform: capitalize;
    ion-icon[name="home-outline"] {
      font-size: 35px;
    }

    @media (max-width: 768px) {
      ion-icon[name="home-outline"] {
        font-size: 25px;
      }
    }

    ion-icon[name="home-outline"]:hover {
      color: var(--ion-color-fairytale);
    }

    ion-icon[slot="separator"] {
      transition: all ease 0.25s;
      animation: rotateInDownLeft 0.7s;
    }
  }
}

.mapboxgl-popup-content {
  div {
    width: 100%;
    height: 100%;
  }
}

.modal-fullscreen {
  --background: rgba(0, 0, 0, 0.5);
  ion-content {
    background: var(--background);
    .modal-wrapper {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      img {
        max-width: 90vw;
        max-height: 90vh;
        object-fit: contain;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
        color: red !important;
      }
    }
  }
}

.blog-slider {
  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
    &-active {
      opacity: 1;
      background: var(--ion-color-fairytale);
      height: 20px;
      box-shadow: 0px 0px 20px rgba(var(--ion-color-fairytale-rgb), 0.5);
      @media screen and (max-width: 768px) {
        height: 11px;
        width: 30px;
      }
    }
  }
}

pagination-controls {
  padding: 20px 0;
  ul {
    padding: 0;
    margin: 0;
    li {
      margin: 0 5px;
      a {
        color: var(--ion-color-fairytale-dark) !important;
        &:hover {
          color: var(--ion-color-fairytale) !important;
        }
      }
      span {
        color: var(--ion-color-fairytale-dark) !important;
        // font-size: 20px;
      }
    }

    li.current {
      background: var(--ion-color-fairytale) !important;
      border-radius: 10px;
      span {
        color: #fff !important;
      }
    }
  }
}

@media (min-width: 768px) {
  .mainModalCss {
    // --backdrop-opacity: 0.2;
    // backdrop-filter: blur(3px);
    &::part(content) {
      width: 70%;
      height: 90%;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 32%);
    }
  }

  .modal-fullscreen {
    // --backdrop-opacity: 0.2;
    // backdrop-filter: blur(3px);
    &::part(content) {
      width: 70%;
      height: 90%;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 32%);
    }
  }
}
