<ion-content>

  <div class="swiper-container-banner">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let item of slider">


        <div class="container">
          <div class=" text">
            <h1>{{item.title}} </h1>
            <h3>
              {{item.text}}
            </h3>
            <ion-buttons *ngIf="item.title === 'Masal Kahramanlarınla Tanış!'">
              <ion-button routerLink="/masallar">{{item?.button}}</ion-button>
            </ion-buttons>
          </div>

        </div>

      </div>

    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>


</ion-content>